[submodule "libs/bignum-core"]
	path = libs/bignum-core
	url = https://github.com/kirill-bayborodov/bignum-core.git
[submodule "libs/bignum-add-bignum"]
	path = libs/bignum-add-bignum
	url = https://github.com/kirill-bayborodov/bignum-add-bignum.git
[submodule "libs/bignum-div-bignum"]
	path = libs/bignum-div-bignum
	url = https://github.com/kirill-bayborodov/bignum-div-bignum.git
[submodule "libs/bignum-cmp"]
	path = libs/bignum-cmp
	url = https://github.com/kirill-bayborodov/bignum-cmp.git
[submodule "libs/bignum-shift-right"]
	path = libs/bignum-shift-right
	url = https://github.com/kirill-bayborodov/bignum-shift-right.git
[submodule "libs/bignum-sub-bignum"]
	path = libs/bignum-sub-bignum
	url = https://github.com/kirill-bayborodov/bignum-sub-bignum.git
